<hr>
{%- if page.tags.size > 0 -%}
    Read more posts tagged 
    {%- for tagName in page.tags -%} 
        {%- capture tags_content -%}
            {%- if forloop.last == false -%}
                {{ tags_content }} <a href='/tag/{{ tagName }}'>{{ tagName }},</a> 
            {%- else -%}
               {{ tags_content }} <a href='/tag/{{ tagName }}'>{{ tagName }}</a> 
            {%- endif -%}
        {%- endcapture -%} 
    {%- endfor -%} 
{{ tags_content }}

{%- for tagName in page.tags -%} 
		{%- capture tags_meta -%}
				{%- if forloop.last == false -%}
						{{ tags_meta }} "{{ tagName }}",
				{%- else -%}
					 {{ tags_meta }} "{{ tagName }}"
				{%- endif -%}
		{%- endcapture -%} 
	{%- endfor -%} 
 {%- else -%} 
    {%- assign tags_meta = "safe" -%}
{%- endif -%} 

<script>
var pageInfo = {
	article: true,
	post_id: "{{ page.slug }}",
	post_type: "post",
	taxonomies: { tags: [{{ tags_meta }}]},
	url: window.location.href
};

window.pico('visit', pageInfo);
</script>
